<ion-header>
  <ion-toolbar>
    <span class="logo">School Search</span>
  </ion-toolbar>
</ion-header>

<ion-content class="no-scroll">
    <div class="dashboard-container">
        <div class="text-content">
            <div class="title-content">
                <h5>Bem vindo ao</h5>
                <br>
                <h1>School Search</h1>
            </div>

            <div class="image-container">
                <img src="../assets/books1.svg">
            </div>


            <div class="info-content">
                <p>Aqui você consegue</p>
                <div class="card-container">
                    <ion-card>
                        <p>Listar as escolas</p>
                        <div class="icon-container ">
                            <img src="../assets/list.svg">
                        </div>
                    </ion-card>

                    <ion-card>
                        <p>Conhecer mais delas</p>
                        <div class="icon-container icon-info-container" >
                            <img src="../assets/information.svg">
                        </div>
                    </ion-card>

                    <ion-card>
                        <p>E até favoritá-las</p>
                        <div class="icon-container">
                            <img src="../assets/favorite1.svg">
                        </div>
                    </ion-card>
                </div>


            </div>
        </div>
    </div>
</ion-content>
